{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Premik primerkov | Računalniški muzej{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo; Premik primerkov
</div>
{% endblock %}

{% block content %}
<h1>Premik primerkov</h1>
<p>Premik večih primerkov iz ene lokacije na drugo s pomočjo odčitavanja QR kod.</p>
<p>Odčitaj vse QR kode na primerkih, ki so se preselili, in jih vnesi v polje <i>Zapisnik</i> (pomembno je le, da so v zapisniku prepoznavni URLji iz QR kod, kakršnokoli dodatno besedilo se ignorira). Nato izberi njihovo novo lokacijo in pritisni gumb <i>Premakni</i>.</p>
<div id="content-main">
	<form id="premik_form" method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Premakni"/>
	</form>
</div>
{% endblock content %}
